body{
    margin: 0;
    padding: 0;
}

header{
    display: block;
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    position: sticky;
    top: 0%;
    z-index: 999;
}

header a{
    padding-right: 30px;
    color: white;
}

.active a{
    color: blue;
    font-size: 27px;
}

.home{
    text-align: center;
}

.home h1{
    color: green;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.home h1 span{
    color: red;
}

.home h3{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.home a{
    padding-right: 30px;
    font-size: 20px;
    color: green;
}

.home a span{
    color: red;
}

.home h2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
}

.home h2 .s1{
    color: red;
}

.home h2 .s2{
    color: green;
}

.home h4{
    font-size: 24px;
    margin-top: 20px;
}



/* CONTACT PAGE */

.conh h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conh marquee {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(72, 255, 0);
    font-family: cursive;
    font-size: 20px;
}

.buttons #i1 {
    margin-left: 18cm;
    display: inline;
    position: absolute;
    background-color:transparent;
    color: black;
    margin-top: 25px;
    cursor: pointer;
    font-size: 30px;
    border: solid 1px rgb(0, 0, 0);
    padding: 5px;
    border-radius: 20px;
}

.buttons #i1:hover,
.buttons #i2:hover,
.buttons #i3:hover {
    font-size: 35px;
    transition: 1s;
    background-color:  rgb(255, 19, 19);
    color: black;
    box-shadow: 0 0 25px rgb(60, 255, 1);
}

.conh h3{
    text-align: center;
    margin-top: 20px;
    color: black;
    background-color: rgb(32, 238, 32);
    font-family: monospace;
    border: 2px solid black;
    font-size: 30px;
}

.conh h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-top: 30px;
    color: black;
}

.conh marquee {
    margin-top: 120px;
}


/* BUY PAGE */


.buyh h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkred;
    font-family: 55px;
}

.buyh img{
    margin-left: 39%;
}

.buyh h2{
    text-align: center;
    color: red;
    font-size: 35px;
}

.buyh h2 b{
    color: #111;
}

.buyh button{
    margin-left: 46%;
    background-color: greenyellow;
    color: black;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid green;
    font-family: monospace;
    font-size: 20px;
}

.buyh button:hover{
    background-color: red;
    color: white;
    transition: 1s;
    padding: 20px;
}

/* PAYMENT PAGE  */

.payh h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #111;
}

.payh  img{
    height: 14cm;
    width: auto;
    margin-left: 31%;
}

.payh h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #111;
}

.payh form{
    margin-left: 38%;
    display: inline;
}

.payh form fieldset{
    display: inline;
}

.payh form #btn{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
}


/* LAST STAGE PAGE  */

.payh h2 span{
    color: red;
}

.pdfh h1{
    text-align: center;
    font-size: 60px;
    font-family: fantasy;
    letter-spacing: 2px;
}

.pdfh h2{
    text-align: center;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pdfh h3{
    text-align: center;
    font-family: cursive;
    font-size: 30px;
}

.pdfh a{
    margin-left: 43%;
}


/* NEWOP PAGE    */


.newop form{
    margin-left: 38%;
    display: inline;
}

.newop form fieldset{
    display: inline;
}

.newop form #btn{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
}

.newop h2{
    text-align: center;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* OWNER PAGE  */

.ownh {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.ownh a{
    padding: 40px;
    text-decoration: none;
    color: #111;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ownh #opage{
    background-color: rgb(203, 210, 218);
    border-radius: 20px;
}

.ownh2 fieldset{
    background-color:  rgb(203, 210, 218);  
    margin-top: -45px;
    border: none;
}

@media only screen and (max-width: 650px) {

    .buttons #i1 {
        margin-left: 5cm;
        display: inline;
        position: absolute;
        background-color: transparent;
        color: black;
        margin-top: 25px;
        cursor: pointer;
        font-size: 30px;
        border: solid 1px rgb(0, 0, 0);
        padding: 5px;
        border-radius: 20px;
    }

    .buyh img {
        margin-left: 20%;
    }

    .newop form{
        margin-left: 25%;
        display: inline;
    }

    .newop h2{
        text-align: center;
        font-size: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media only screen and (max-width: 500px){

    .newop form{
        margin-left: 10%;
        display: inline;
    }
}

@media only screen and (max-width: 390px){

    .buyh img {
        margin-left: 10%;
    }

    .newop form{
        margin-left: 5%;
        display: inline;
    }
}

@media only screen and (max-width: 350px){

    .buyh img {
        margin-left: 5%;
    }
    .newop form{
        
        display: inline;
    }
}